#gameboard {
   
}

.gameboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.box {
    border-style: solid;
    padding: 100px;
    width: 20px;
    height: 20px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

